.wp-donate-recent {

}

.wp-donate-recent .donate-item {
    min-height:70px;
    position:relative;
    margin:5px 0;
}

.wp-donate-recent .donate-item img.avatar {
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wp-donate-recent .donate-item .donate-recent-comment {
    padding-left:60px;
}

.wp-donate-recent .donate-item .donate-recent-content:before {
    content:'\2018';
}

.wp-donate-recent .donate-item .donate-recent-content:after {
    content:'\2019';
}

.wp-donate-recent .donate-item .donate-recent-name {
    margin: 0 0 0.5em 0;
    font-weight:bold;
}

.wp-donate-recent .donate-item .donate-recent-content {
    color:#777;
}


.donate_btn_submit
{
height: 28px;
float: none;
padding: 0 22px;
margin: 0 28px 0 218px;
background: #608e3a;
border: none;
line-height: 28px;
font-size: 14px;
color: #ffffff;
font-family: 'proxima-nova';
font-weight: bold;
border-radius: 15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
}
.donate_btn_submit:hover { background:#4e7a29; }

